<html lang="en">
    <head>
        {{{head}}}
    </head>
    <body class="min-h-dvh">
        {{{headerHTML}}}
        <main class="min-h-dvh-header mt-header-height grid justify-between md:grid-cols-[45%_1fr] md:justify-between">
            <div class="h-[calc(100vh-var(--header-height))] items-center max-md:hidden md:flex">
                <img loading="lazy" class="-z-10 h-[80dvh] pr-10 pl-4" src="/asset/undraw_personal-information_h7kf.svg" alt="" />
            </div>
            <div class="col-start-2 ml-18 flex flex-col justify-center max-md:ml-2">
                <h1>Masukkan Data Pribadi Anda</h1>
                <p class="my-3">Silahkan masukkan data pribadi anda, pastikan Anda memasukkannya dengan benar! </p>
                <form id="form" method="post" class="[&_input]:w-[90%] [&>input]:mt-0.5 [&>input]:mb-1">
                    {{{error}}}
                    {{!-- <label for="name">Nama</label>
            <input type="text" name="name" id="name" placeholder="Masukkan nama anda" required>
            <label for="class">Kelas</label>
            <input disabled value="{{classname}}" type="text" class="bg-gray-200" id="class">
            <label for="nisn">NISN</label>
            <input type="number" id="nisn" name="nisn" placeholder="Masukkan nisn anda" required>
            <div class="flex gap-3 w-[90%]">
              <fieldset>
                <label for="age">Umur</label>
                <input type="number" id="age" name="age" placeholder="Masukkan umur anda">
              </fieldset>
              <fieldset>
                <label for="gender">Jenis Kelamin</label>
                <select class="block border-2 px-1 py-1.5 rounded-sm border-gray-800/60" name="gender" id="gender" required>
                  <option value="man">Laki-laki</option>
                  <option value="woman">Perempuan</option>
                </select>
              </fieldset>
            </div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Masukkan email anda" id="email" required>
            <label for="phone">No.Telpon</label>
            <input type="phone" name="phone" placeholder="Masukkan Nomor Telpon anda" id="phone" required> --}}
                    {{{fields}}}
                    <button type="submit" class="btn-primary my-4 cursor-pointer">Kirim</button>
                </form>
            </div>
            {{!-- prettier-ignore --}}
            <script type="module">
          document.getElementById('form').setAttribute('action', `/user/input?token=${new URLSearchParams(window.location.search).get('token')}`)

          console.log()
          console.log(document.getElementById('form'))


        </script>
        </main>
    </body>
</html>